.is-loading {
    overflow: hidden;
    position: relative;


    &::before {
        z-index: 10;
        position: fixed;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #ffffff9c;
    }

    &::after {
        content: "Loading...";
        font-size: 36px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate((-50%,-50%));
        z-index: 11;
    }
}