.page__tools {
	margin: 60px 0 0 0;
	padding: 0 5px;
}

@media(max-width: 1300px) {
	.page__tools {
		padding: 0 80px 0 20px;
	}
}

@media(max-width: 395px) {
	.page__tools {
		padding: 0 80px 0 5px;
	}
}

.tools {}

.tools__details {}

.details-tools {
	margin: 0 0 60px 0;
}

.details-tools__header {
	font-weight: 300;
	font-size: 28px;
	line-height: 121%;
	letter-spacing: 1px;
	color: #CCCCCC;
	opacity: 0.6;
	margin: 0 0 28px 0;
}

@media(max-width: 965px) {
	.details-tools__header {
		font-size: 20px;
	}
}

@media(max-width: 580px) {
	.details-tools__header {
		font-size: 18px;
	}
}

.details-tools__items {
	font-family: 'Source Sans Pro';
	display: flex;
}

.details-tools__items:not(:last-child) {
	margin: 0 0 14px 0;
}

.details-tools__number {
	margin: 0 35px 0 0;
	font-size: 21px;
	line-height: 119%;
	color: #76CDD8;
}

@media(max-width: 965px) {
	.details-tools__number {
		margin: 0 15px 0 0;
		font-size: 16px;
	}
}

@media(max-width: 365px) {
	.details-tools__number {
		margin: 0 5px 0 0;
	}
}

.details-tools__text-block {
	padding: 0 40px 0 0;
	flex: 1 0 224px;
}

@media(max-width: 900px) {
	.details-tools__text-block {
		flex: 1 0 200px;
	}
}

@media(max-width: 550px) {
	.details-tools__text-block {
		flex: 1 0 150px;
		padding: 0 10px 0 0;
	}
}

@media(max-width: 345px) {
	.details-tools__text-block {
		flex: 1 0 130px;
		padding: 0 5px 0 0;
	}
}

.details-tools__title {
	margin: 0 0 4px 0;
	color: #E4E4E4;
	font-size: 21px;
	line-height: 119%;
	font-weight: 900;
}

@media(max-width: 965px) {
	.details-tools__title {
		font-size: 16px;
	}
}

@media(max-width: 580px) {
	.details-tools__title {
		font-size: 14px;
	}
}

.details-tools__subtitle {
	font-size: 17px;
	line-height: 117%;
	color: #E4E4E4;
}

@media(max-width: 965px) {
	.details-tools__subtitle {
		font-size: 13px;
	}
}

.tools__colors {}

.colors-tools {}

.colors-tools__header {
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 121%;
	color: #CCCCCC;
	opacity: 0.6;
	margin: 0 0 26px 0;
}

@media(max-width: 965px) {
	.colors-tools__header {
		font-size: 20px;
	}
}

@media(max-width: 580px) {
	.colors-tools__header {
		font-size: 16px;
	}
}

.colors-tools__item {
	display: flex;
	font-family: 'Source Sans Pro';
	align-items: center;
	justify-content: flex-start;
}

.colors-tools__item :not(:last-child) {
	margin: 0 0 12px 0;
}

.colors-tools__item span {
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #F65261;
	cursor: pointer;
}

@media(max-width: 965px) {
	.colors-tools__item span {
		width: 35px;
		height: 35px;
	}
}

.colors-tools__text {
	margin: 0 0 0 17px;
	font-size: 21px;
	line-height: 119%;
	color: #E4E4E4;
	font-weight: 900;
}

@media(max-width: 965px) {
	.colors-tools__text {
		margin: 0 0 0 10px;
		font-size: 16px;
	}
}

@media(max-width: 580px) {
	.colors-tools__text {
		font-size: 14px;
	}
}

._dark-grey span {
	background-color: #424242;
}

._black span {
	background-color: #232323;
}

._grey span {
	background-color: #555555;
	border: 1px solid #ffff;
}

._white span {
	background-color: #ffff;
}